* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .announcement-span {
    text-align: center;
    font-size: 120%;
    color: red;
}

.play-field {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}

.top-left {
    grid-area: top-left;
}

.top-mid {
    grid-area: top-mid;
}

.top-right {
    grid-area: top-right;
}

.mid-left {
    grid-area: mid-left;
}

.mid-mid {
    grid-area: mid-mid;
}

.mid-right {
    grid-area: mid-right;
}

.bot-left {
    grid-area: bot-left;
}

.bot-mid {
    grid-area: bot-mid;
}

.bot-right {
    grid-area: bot-right;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr repeat(3, 150px) 1fr;
    grid-template-rows: repeat(3, 150px);
    grid-template-areas:
    ". top-left top-mid top-right ."
    ". mid-left mid-mid mid-right ."
    ". bot-left bot-mid bot-right .";
    justify-items: stretch;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-gap: 1px;
    background-color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.play-box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-content: center;
}

.show {
    z-index: 1;
    visibility: visible;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.rematch-btn {
    align-self: center;
    padding: 1rem;
}

.red {
    color: red;
}

.blue {
    color: blue;
}